//5. Creaza un fisier _partial3.scss si importa-l in app.scss;  in acest fisier, seteaza brand-main ca roz, dar fara a suprascrie valoarea globala
.brand-special {
  $brand-main: pink;
  background-color: $brand-main;
  color: $brand-neutral;
}
