/* do not touch this */
.flex-container {
  width: 85%;
  height: 200px;
  border: 1px solid #000;
  margin: 25px auto;
  display: flex;
  position: relative;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border: 1px solid red;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  font-size: 150px;
  font-weight: bold;
  color: #fff;
}
/* do not touch this */

/*1.Pentru cutia 1, inverseaza ordinea numerelor si centreaza cutiile vertical si orizontal */

.flex-container-01 {
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

/*2. Pentru cutia 2, inverseaza ordinea numerelor si pozitioneaza-le in coltul din stanga jos  */

.flex-container-02 {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Pentru cutia 3, inverseaza ordinea numerelor si pozitioneaza-le centrat cu primul si ultimul element lipite de marginile laterale */

.flex-container-03 {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

/* 4.Pentru cutia 4, inverseaza ordinea numerelor si pozitioneaza-le in dreapta sus  */
/* Dragos, pixellab mi-a zis ca: A patra cutie nu are valoarea flex-start pentru proprietatea align-items.; eu facusem exercitiul si
elementele erau pozitionate in dreapta sus si fara flex-start, a fost suficient doar flex-direction:row-reverse */
.flex-container-04 {
  flex-direction: row-reverse;
  align-items: flex-start;
}

/* 5.Pentru cutia 5, inverseaza ordinea numerelor si pozitioneaza-le pe latura de jos a cutiei cu spatiu intre ele*/
.flex-container-05 {
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-end;
}

/* 6.Pentru cutia 6, inverseaza ordinea numerelor si pozitioneaza-le pe latura de sus a cutiei cu primul si ultimul element
lipite de marginile laterale */

.flex-container-06 {
  flex-direction: row-reverse;
  justify-content: space-between;
}
