/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}

.grid-item-4 {
  background-color: lightsalmon;
}

.grid-item-5 {
  background-color: lightseagreen;
}
/* can't touch this 🔨 */

/*
1.Creaza un grid cu urmatoarele coloane: 120px 1fr 400px 2fr 350px 10px
2.Gridul trebuie sa aibe un singur rand de 150px
3.Aseaza primul element in coltul din dreapta jos
4.Aseaza al doilea element centrat orizontal pe latura superioara a celulei
5.Aseaza la treilea element in dreapta celulei si aliniat central pe verticala
6.Aseaza al patrulea element in coltul din stanga sus
7.Aseaza al cincelea element in coltul din stanga jos al celulei
 */

/* 1 si 2 */
.grid-container {
  display: grid;
  grid-template-columns: 120px 1fr 400px 2fr 350px 10px;
  grid-template-rows: 150px;
}

/* 3. */
.grid-item-1 {
  justify-self: end;
  align-self: end;
}

/* 4 */
.grid-item-2 {
  justify-self: center;
  align-self: start;
}

/* 5 */
.grid-item-3 {
  justify-self: end;
  align-self: center;
}

/* 6 */

.grid-item-4 {
  justify-self: start;
  align-self: start;
}

/* 7 */

.grid-item-5 {
  justify-self: start;
  align-self: end;
}
