/* do not touch this */
body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 1;
  height: 600px;
  border: 1px solid #000;
  margin: 25px auto;
  display: flex;
  position: relative;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 75px;
  max-width: 75px;
  height: 75px;
  width: 75px;
  flex-shrink: 1;
  border: 1px solid red;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  font-size: 150px;
  font-weight: bold;
  color: #fff;
}
/* do not touch this */

/* 1.In cutia 1 orienteaza elementele pe coloana si pozitioneaza-le in coltul din dreapta jos, apoi folosind last-child
pozitioneaza ultimul element pe latura din stanga  */

.flex-container-01 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-container-01 :last-child {
  align-self: flex-start;
}

/* 2.In cutia 2 orienteaza elementele pe coloana si pozitioneaza-le central pe verticala si orizontala, apoi folosind
nth-of-type pozitioneaza elementul patru pe latura din dreapta */

.flex-container-02 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container-02 :nth-of-type(5) {
  align-self: flex-end;
}

/* 3. In cutia 3 orienteaza elementele pe coloana, pozitioneaza-le pe latura din stanga a cutiei cu spatiu egal intre ele
si marginile cutiei, apoi intinde elementul trei*/

.flex-container-03 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.flex-container-03 :nth-of-type(4) {
  align-self: stretch;
  width: auto;
  max-width: unset;
}
/* S-ar putea si cu .flex-container-03 div:nth-last-of-type(2)*/

/* 4.In cutia 4 orienteaza elementele pe coloana, pozitioneaza-le pe latura din dreapta folosind space-between si folosind
nth-child pozitioneaza ultimul element pe latura din stanga */

.flex-container-04 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-container-04 :nth-child(5) {
  align-self: flex-start;
}

/* 5. In cutia 5 orientaza elementele pe coloana, pozitioneaza-le central pe orizontala si cu spatiu intre ele pe verticala,
apoi intinde elementul trei*/

.flex-container-05 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-container-05 :nth-child(4) {
  align-self: stretch;
  width: auto;
  max-width: unset;
}
/* .flex-container-05 div:nth-child(4) */

/* 6. In cutia 6 orienteaza elementele pe coloana, pozitioneaza-le in coltul din stanga jos si pozitioneaza elementul 2 pe
latura din dreapta a elementului*/

.flex-container-06 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.flex-container-06 :nth-child(3) {
  align-self: flex-end;
}

/* flex-container-06 > :first child + div + div - do not try this at home, insane, dar se poate*/
