/* can't touch this 🔨 */
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  background-color: lightblue;
}

.grid-item-2 {
  background-color: lightcoral;
}

.grid-item-3 {
  background-color: lightgreen;
}

.grid-item-4 {
  background-color: lightsalmon;
}

/* can't touch this 🔨 */

/*
1.Creaza un grid mobile first cu max-width: 1920 si width: 100% dupa urmatoarea matrice:
header
content
sidebar
footer
2.Folosind proprietatea grid-area asocieaza primul element cu zonele de header
3.Asocieaza al doilea element cu zonele de content
4.Asociaza al treilea element cu zonele de sidebar
5.Asociaza al patrulea element cu zonele de footer
*/

.grid-container {
  grid-template-rows: repeat(4, 200px);
  display: grid;
  grid-template-areas: 'header' 'content' 'sidebar' 'footer';
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.grid-item-1 {
  grid-area: header;
}

.grid-item-2 {
  grid-area: content;
}

.grid-item-3 {
  grid-area: sidebar;
}

.grid-item-4 {
  grid-area: footer;
}

/* 6.Pentru rezolutiile mai mari de 520 inverseaza zona de content cu cea de sidebar */

@media (min-width: 521px) {
  .grid-container {
    grid-template-areas: 'header sidebar content footer';
  }
}

/* 7.Pentru rezolutiile mai mari de 768 configureaza gridul dupa urmatorea matrice:
header header header
sidebar . content
footer footer footer
*/
/* 8.Configureaza gridul cu urmatoarele coloane: 320px 25px 1fr pe rezolutiile mai mari de 768 */

@media (min-width: 769px) {
  .grid-container {
    grid-template-columns: 320px 25px 1fr;
    grid-template-areas:
      'header header header'
      'sidebar . content'
      'footer footer footer';
  }
}

/* exercitiul e facut asa pentru ca dragos a vrut sa ne aduca aminte ca media querys sunt inclusive */
