.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

//2. Genereaza clase de forma btn-primary (btn-secondary, etc…) pentru a putea seta proprietatea
// color pentru elementele din primul rand, dupa urmatorele valori

$data: (
  'main': red,
  'primary': blue,
  'secondary': green,
  'tertiary': yellow,
  'neutral': gray,
);

@each $suffix, $color in $data {
  .btn-#{$suffix} {
    color: $color;
  }
}
