/* do not touch this */
.flex-container {
  width: 85%;
  height: 200px;
  border: 1px solid #000;
  margin: 25px auto;
  display: flex;
  position: relative;
}

.flex-container-06 {
  align-items: flex-end;
}

.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 200px;
  height: 75px;
  border: 1px solid red;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  font-size: 150px;
  font-weight: bold;
  color: #fff;
}

#shrinker {
  width: 100px;
  height: 40px;
  background-color: lightblue;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* do not touch this */

/* 1. Pentru cutia 1 aliniaza elementele pe latura inferioara cu distanta egala intre ele,
apoi seteaza pentru primul element flex-shrink: 2*/

.flex-container-01 {
  align-items: flex-end;
  justify-content: space-around;
}

.flex-container-01 :nth-child(2) {
  flex-shrink: 2;
}

/* 2. Pentru cutia 2 inverseaza elementele, aliniaza-le centrat pe verticala cu primul si ultimul element pe laturile din stanga
si din dreapta, apoi seteaza flex-shrink: 2 pentru elementul 1 si flex-shrink: 3 pentru elementul 3*/

.flex-container-02 {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.flex-container-02 :nth-child(2) {
  flex-shrink: 2;
}

.flex-container-02 :nth-child(4) {
  flex-shrink: 3;
}

/* 3. Pentru cutia 3, pozitioneaza elementele in coltul din dreapta jos si seteaza pentru elementul 2 flex-shrink:
2 si pentru elementul 4 flex-shrink: 3 */

.flex-container-03 {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-container-03 :nth-child(3) {
  flex-shrink: 2;
}

.flex-container-03 :nth-child(5) {
  flex-shrink: 3;
}

/* 4. Pentru cutia 4, inverseaza elementele, pozitioneaza-le in coltul din stanga jos, apoi seteaza pentru elementul 3 flex-shrink:
2 si pentru elementul 2 flex-shrink: 3*/

.flex-container-04 {
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-container-04 :nth-child(4) {
  flex-shrink: 2;
}

.flex-container-04 :nth-child(3) {
  flex-shrink: 3;
}

/* 5. Pentru cutia 5, pozitioneaza elementele pe latura superioara si centrate pe orizontala,
apoi seteaza pe primul element flex-shrink: 2*/

.flex-container-05 {
  justify-content: center;
}

.flex-container-05 :nth-child(2) {
  flex-shrink: 2;
}

/* 6. Pentru cutia 6, pozitioneaza elementele centrate vertical si cu spatiu egal intre ele
apoi seteaza pe elementul 2 flex-shrink:3 si pe elementul 4 flex-shrink: 0 (acesta nu se va micsora)*/

.flex-container-06 {
  align-items: center;
  justify-content: space-around;
}

.flex-container-06 :nth-child(3) {
  flex-shrink: 3;
}

.flex-container-06 :nth-child(5) {
  flex-shrink: 0;
}
