.line {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}

//2. Pentru primul set de elemente genereaza clase de felul (b-dotted, b-solid) care vor aplica
// stilurile specificate pe element (valorile posibile pt bordura sunt: dotted, solid, dashed,
// double si none)

$borders: dotted, solid, dashed, double, none;
@each $borderStyle in $borders {
  .b-#{$borderStyle} {
    border-style: $borderStyle;
  }
}

//3. Pentru al doilea set de elemente genereaza clase de felul (m-xs, m-sm) care vor aplica
// marginile respective pe element (valorile sunt: "xs": 4px, "sm": 8px, "md": 16px, "lg": 32px )

$margins: (
  'xs': 4px,
  'sm': 8px,
  'md': 16px,
  'lg': 32px,
);

@each $size, $value in $margins {
  .m-#{$size} {
    margin: $value;
  }
}

//4. In mod similar genereaza clase pentru paddinguri pentru a stila ultimul set de elemente

$paddings: (
  'xs': 4px,
  'sm': 8px,
  'md': 16px,
  'lg': 32px,
);

@each $size, $value in $paddings {
  .p-#{$size} {
    padding: $value;
  }
}
